<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunkie.live_lyrics_server.mapper.RoomMapper">
    <resultMap id="BaseResultMap" type="com.chunkie.live_lyrics_server.entity.Room">
        <id column="room_id" jdbcType="VARCHAR" property="roomId"/>
        <result column="room_title" jdbcType="VARCHAR" property="roomTitle"/>
        <result column="room_owner" jdbcType="VARCHAR" property="roomOwner"/>
        <result column="room_status" jdbcType="INTEGER" property="roomStatus"/>
    </resultMap>

    <insert id="createRoom" parameterType="com.chunkie.live_lyrics_server.entity.Room">
        INSERT INTO room_info(room_id, room_owner, room_title, room_status)
        VALUES (#{roomId}, #{roomOwner}, #{roomTitle}, #{roomStatus})
    </insert>

    <update id="updateRoomById" parameterType="com.chunkie.live_lyrics_server.entity.Room">
        UPDATE room_info
        <set>
            <if test="roomTitle != null">room_title = #{roomTitle},</if>
        </set>
        WHERE room_id = #{roomId}
    </update>

    <update id="updateStatusById" parameterType="java.util.Map">
        UPDATE room_info
        SET room_status = #{roomStatus}
        WHERE room_id = #{roomId}
    </update>

    <select id="getRoomByRoomId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM room_info
        WHERE room_id = #{roomId}
    </select>

    <select id="getRoomByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM room_info
        WHERE room_owner = #{userId}
    </select>
</mapper>